
@media (max-width: 1149px) {

	#page {
		width: 96%;
	}

	#wfwb-footer {
		width: 96%;
	}

}

@media (max-width: 1120px) {

	#page {
		margin-top: 100px;
		/*margin-bottom: 100px;*/
	}

	.carousel-inner img {
		border-radius: 10px;
	}

}

@media (max-width: 767px) {

	body {
		margin-top: -10px;
		padding-left: 0px;
		padding-right: 0px;
	}

	#page {
		width: 100%;
		margin-top: 10px;
	}

	#wfwb-carousel-responsive {
		margin-top: 0px;
	}

	#wfwb-footer {
		width: 100%;
		margin-top: -20px;
		border-radius: 0px;
	}

	.carousel-inner img {
		border-radius: 0px;
	}

	.navbar-custom {
		border-radius: 0px;
	}

	.navbar-custom > ul > li {
		/*float: left;*/
	}

}