	
	body {
		background-image: url(../img/book-bg.png);
		font-family: 'thai_sans_lite';
	}

	#page {
		width: 1100px;
		margin-top: 130px;
		margin-left: auto;
		margin-right: auto;
		/*margin-bottom: 130px;*/


	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;

	-webkit-box-shadow: 6px 6px 10px #000; 
	-moz-box-shadow: 6px 6px 10px #000;
	-webkit-border-radius:20px;
	-moz-border-radius:20px; 
	border-bottom:19px solid #D18A43;
	border-left:19px solid #D18A43;
	border-right:19px solid #D18A43;

	

	}


	#head {

	}

	#content{

		background-image: url(../img/blackboard.jpeg);
		/*min-height: 1000px;*/
		  height:500px;
   overflow:auto;
    /*background:#fff;*/
	}




	#titleWord{
		font-family:'arabica'; 
		font-size:45px; 
		color:#A2D9B1;"
	}

	#Word{
		font-family:'arabica'; 
		font-size:45px; 
		color:#A2D9B1;"
	}

	#contentWord{
		font-family:'arabica'; 
		font-size:32px; 
		color:#F2F1D9; 
		line-height:130%; 
		padding-left:80px; 
		padding-right:80px;
	}

	#endWord{
		 font-family:'arabica'; 
		 font-size:45px; 
		 color:#E3E5C3; 
		 line-height:200%;"
	}


	#endWord2{
		 font-family:'arabica'; 
		 font-size:24px; 
		 color:#E3E5C3; 
		 line-height:200%;"
	}

	/* MENU NAVBAR */

	#forgot-password:hover {
		text-decoration: none;
	}

	#brand-text > a {
		color: #FFFFFF;
		font-size: 26px;
		text-decoration: none;
	}

	#brand-text > a:hover {
		color: #F2CD33;
		text-shadow: 0 0 5px #F2CD33;
		text-decoration: none;
	}

	.navbar-custom {
		/*background: #221E20;*/
		height: 70px;
		border-radius: 10px;
		 background-color: #1B1B1B;
    	background-image: linear-gradient(to bottom, #222222, #111111);
    	background-repeat: repeat-x;
    	border-color: #252525;
		border-bottom: solid 7px #66BCDA;
	}

	.navbar-custom ul {
		list-style:none;
	}

	.navbar-custom > ul > li {
		float: right;
		padding:25px 30px 0 0;
		margin:0;
	}

	.navbar-custom > ul> li > a {
		font-size: 23px;
		color: #FFFFFF;
		text-decoration: none;
	}

	.navbar-custom > ul> li > a:hover {
		color: #F2CD33;
		text-decoration: none;
	}

	.logo {
		width: 180px;
		height: 200px;
		position: absolute;
		margin-left: -10px;
		margin-top: -80px;
		z-index: 3;
	}

	.menu-vertical {
		padding-top: 62px;
	}

	.menu-vertical > li {
		padding:15px 0 15px 0;
	}

	.menu-vertical > li > a {
		color: #FFFFFF;
		margin-left: -8px;
		font-size: 15px;
		text-decoration: none;
	}

	.menu-vertical > li > a:hover {
		color: #F2CD33;
		text-decoration: none;
	}

	.menu-expand {
		height: 480px;	
	}

	/* CAROUSEL */

	#wfwb-carousel {
		margin-top: 0px;
		margin-bottom: 0px;

		border-bottom: solid 7px #66BCDA;

	}

	#wfwb-carousel-responsive {
		margin-top: 35px;
	}

	.carousel-indicators.middle {
		left: 0;
		right: 0;
		top: auto;
		bottom: 15px;
		text-align: center;
	}

	.carousel-indicators.middle li {
		float: none;
		display: inline-block;
	}

	.carousel-inner img {
		border-radius: 10px;
	}

	#contact-us-section {
		border-radius: 10px;
		border: solid 7px #F2CD33;
		margin-top: 50px;
	}

	/* SECTION */

	.section {
		height: auto;
		background: rgba(256, 256, 256, 0.95);
	}

	.section-inner {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 80px;
		padding-right: 80px;
		text-align: left;	
	}

	.section-inner p {
		font-size: 16px;
		line-height: 22px;
		text-align: justify;
		padding-bottom: 10px;
	}

	.center
	{
		text-align: center;
		padding-top: 50px;
		/*background-color:#b0e0e6;*/
	}

	/* FOOTER */

	#wfwb-footer {
		width: 1100px;
		margin-top: -5px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		background-color: #231F20;
		border-radius: 10px;
		border-top: solid 7px #F2CD33;	
	}

	.footer {
		height: 280px;
		color: #FFFFFF;
		width: 1100px;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		background: #231F20;
		border-radius: 10px;
		border-top: solid 7px #F2CD33;
	}

	.footer p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.subscribe {
		position: relative;
		float: right;
		margin-top: 60px;
		margin-right: 120px;
	}

	.contact-us {
		position: relative;
		float: left;
		margin-top: 40px;
		margin-left: 60px;
		margin-bottom: 30px;
	}

	.fb-logo {
		position: relative;
		display: block;
		margin-top: 20px; 
		cursor: pointer; 
		margin-left: auto;
		margin-right: auto;
	}