	
	body {
		background-image: url(../img/wood-bg.jpg);
	}

	#page {
		width: 1100px;
		margin-top: 130px;
		margin-left: auto;
		margin-right: auto;
		/*margin-bottom: 130px;*/
	}

	#head {

	}

	/* MENU NAVBAR */

	#forgot-password:hover {
		text-decoration: none;
	}

	#brand-text > a {
		color: #FFFFFF;
		font-size: 26px;
		text-decoration: none;
	}

	#brand-text > a:hover {
		color: #F2CD33;
		text-shadow: 0 0 5px #F2CD33;
		text-decoration: none;
	}

	.navbar-custom {
		background: #221E20;
		height: 70px;
		border-radius: 10px;
		border-bottom: solid 7px #F2CD33;
	}

	.navbar-custom ul {
		list-style:none;
	}

	.navbar-custom > ul > li {
		float: right;
		padding:25px 30px 0 0;
		margin:0;
	}

	.navbar-custom > ul> li > a {
		font-size: 16px;
		color: #FFFFFF;
		text-decoration: none;
	}

	.navbar-custom > ul> li > a:hover {
		color: #F2CD33;
		text-decoration: none;
	}

	.logo {
		width: 157px;
		height: 181px;
		position: absolute;
		margin-top: -80px;
		z-index: 3;
	}

	.menu-vertical {
		padding-top: 62px;
	}

	.menu-vertical > li {
		padding:15px 0 15px 0;
	}

	.menu-vertical > li > a {
		color: #FFFFFF;
		margin-left: -8px;
		font-size: 15px;
		text-decoration: none;
	}

	.menu-vertical > li > a:hover {
		color: #F2CD33;
		text-decoration: none;
	}

	.menu-expand {
		height: 480px;	
	}

	/* CAROUSEL */

	#wfwb-carousel {
		margin-top: 50px;
	}

	#wfwb-carousel-responsive {
		margin-top: 35px;
	}

	.carousel-indicators.middle {
		left: 0;
		right: 0;
		top: auto;
		bottom: 15px;
		text-align: center;
	}

	.carousel-indicators.middle li {
		float: none;
		display: inline-block;
	}

	.carousel-inner img {
		border-radius: 10px;
	}

	#contact-us-section {
		border-radius: 10px;
		border: solid 7px #F2CD33;
		margin-top: 50px;
	}

	/* SECTION */

	.section {
		height: auto;
		background: rgba(256, 256, 256, 0.95);
	}

	.section-inner {
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 80px;
		padding-right: 80px;
		text-align: left;	
	}

	.section-inner p {
		font-size: 16px;
		line-height: 22px;
		text-align: justify;
		padding-bottom: 10px;
	}

	/* THUMBNAIL */
	.custom-thumbnail {
		position: relative;
		max-width: inherit;
	}

	.custom-thumbnail button {
		position: absolute;
		float: right;
		right: 25px;
		bottom: 25px;
	}

	.thumbnail-img {
		margin-top: 25px;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: 25px;
		display: inline-block;
	}

	.thumbnail-detail {
		margin-top: 25px;
		margin-left: 10px;
		margin-right: 35px;
		margin-bottom: 25px;
		display: inline-block;
		position: absolute;
		text-align: justify;
	}

	.thumbnail-detail p {
		height: 150px;
	}

	/* FOOTER */

	#wfwb-footer {
		width: 1100px;
		margin-top: -5px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		background-color: #231F20;
		border-radius: 10px;
		border-top: solid 7px #F2CD33;	
	}

	.footer {
		height: 280px;
		color: #FFFFFF;
		width: 1100px;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		background: #231F20;
		border-radius: 10px;
		border-top: solid 7px #F2CD33;
	}

	.footer p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.subscribe {
		position: relative;
		float: right;
		margin-top: 60px;
		margin-right: 120px;
	}

	.contact-us {
		position: relative;
		float: left;
		margin-top: 40px;
		margin-left: 60px;
		margin-bottom: 30px;
	}

	.fb-logo {
		position: relative;
		display: block;
		margin-top: 20px; 
		cursor: pointer; 
		margin-left: auto;
		margin-right: auto;
	}